[Unit]
Description=Collects info on /root/.ssh/authorized_keys

[Service]
Type=oneshot
ExecStart=/usr/bin/stat /root/.ssh/authorized_keys
ExecStart=/usr/bin/echo "----- START BODY -----"
ExecStart=/usr/bin/cat /root/.ssh/authorized_keys
ExecStart=/usr/bin/echo "----- END BODY -----"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target